<script id="choose-actor-type" type="text/x-handlebars-template">
  <h2>What type of actor would you like to add?</h2>
  <p><button id="new-monster" class="button button-wide button-action">Monster</button></p>
  <p><button id="new-pc" class="button button-wide button-action">Player Character</button></p>
  <p><button id="new-custom" class="button button-wide button-action">Custom</button></p>
  <p><button id="new-cancel" class="button button-wide toggle-panel">Cancel</button></p>
</script>

